.icon-format {
  cursor: pointer;
}
.checked-task-text {
  vertical-align: middle;
  text-decoration: line-through;
  font-size: 2vh;
  line-height: 20px;
}
.task-text {
  vertical-align: middle;
  font-size: 2vh;
  line-height: 20px;
}
.item-spacing {
  width: 50vw;
}
@media (max-width: 250px) {
  .item-spacing {
    width: 60vw;
  }
}
.update-field {
  outline: none;
}
.update-field-error {
  text-align: center;
  color: rgb(99, 0, 0);
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
