.column-1 {
  border-bottom: 1px solid black;
  display: flex;
}
.column-2 {
  text-align: right;
}
.icon-format {
  cursor: pointer;
}
.checked-task-text {
  text-decoration: line-through;
  font-size: 2vh;
}
.task-text{
  font-size: 2vh;
}
.item-spacing{
  width: 50vw;
}
@media (max-width: 250px) {
  .item-spacing{
    width: 60vw;
  }
}