.column-1 {
  padding: 15px;
  border-bottom: 1px solid black;
  display: flex;
}
.column-2 {
  text-align: right;
}
.icon-format {
  font-size: 13px;
  cursor: pointer;
}
.task-text {
  text-decoration: line-through;
}
